<div class="auth">

  <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s6"><a class="active" href="#login">Sign in</a></li>
        <li class="tab col s6"><a href="#register">Register</a></li>
      </ul>
    </div>
    <div id="login" class="col s6 offset-s3">
      {{#if logError}}
      <p class="alert">{{logError}}</p>
      {{/if}}
      <h2>Sign in</h2>
      <form action="/auth/login" method="post">
        <div class="input-field">
          <input id="email" name="email" type="email" class="validate" required>
          <label for="email">Email Address</label>
          <span class="helper-text" data-error="Email Address is required"></span>
        </div>

        <div class="input-field">
          <input id="password" name="password" type="password" class="validate" required>
          <label for="password">Password</label>
          <span class="helper-text" data-error="Password is required"></span>
        </div>
        <input type="hidden" name="_csrf" value="{{csrf}}">
        <p><a href="/auth/reset">Forgot password?</a></p>
        <button class="btn btn-primary" type="submit">Sign in</button>

      </form>
    </div>
    <div id="register" class="col s6 offset-s3">
      {{#if regError}}
        <p class="alert">{{regError}}</p>
      {{/if}}
      <h2>Create account</h2>
      <form action="/auth/register" method="post" novalidate>

        <div class="input-field">
          <input id="remail" name="email" type="email" class="validate" required>
          <label for="remail">Email Address</label>
          <span class="helper-text" data-error="Email Address is required"></span>
        </div>

        <div class="input-field">
          <input id="name" name="name" type="text" class="validate" required>
          <label for="name">Name</label>
          <span class="helper-text" data-error="Name is required"></span>
        </div>

        <div class="input-field">
          <input id="rpassword" name="password" type="password" class="validate" required>
          <label for="rpassword">Password</label>
          <span class="helper-text" data-error="Password is required"></span>
        </div>

        <div class="input-field">
          <input id="confirm" name="confirm" type="password" class="validate" required>
          <label for="confirm">Confirm password</label>
          <span class="helper-text" data-error="Confirm Password is required"></span>
        </div>
        <input type="hidden" name="_csrf" value="{{csrf}}">
        <button class="btn btn-primary" type="submit">Create</button>

      </form>
    </div>
  </div>
  
</div>