<div class="row">
  <div  class="col s6 offset-s3">
    {{#if error}}
    <p class="alert">{{error}}</p>
    {{/if}}
    <h2>Forgot Password</h2>
    <form action="/auth/reset" method="post">
    <div class="input-field">
        <input id="email" name="email" type="email" class="validate" required>
        <label for="email">Email Address</label>
        <span class="helper-text" data-error="Email Address is required"></span>
    </div>

    <input type="hidden" name="_csrf" value="{{csrf}}">

    <button class="btn btn-primary" type="submit">Reset</button>
    
    </form>
  </div>
</div>
