<h1>Profile</h1>

<div class="row">
  <div class="col s6">
    <img 
      class="avatar"
      src="https://medgoldresources.com/wp-content/uploads/2018/02/avatar-placeholder-300x300.gif" alt="">
    <p>No avatar</p>
  </div>
  <div class="col s6">
    <form action="/profile" method="POST">
      <p>Email: <strong>{{user.email}}</strong></p>
      <div class="input-field">
        <input id="name" name="name" type="text" class="validate" required value={{user.name}}>
        <label for="name">Username</label>
        <span class="helper-text" data-error="Enter name"></span>
      </div>

      <div class="file-field input-field">
        <div class="btn">
          <span>Avatar</span>
          <input type="file" name="avatar">
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text">
        </div>
      </div>
      <input type="hidden" name="_csrf" value="{{csrf}}">

      <button type="submit" class="btn">Change</button>
    </form>
  </div>
</div>